Repository Umesh7Dixit/frontend_project_ab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{css,scss,md,json,html}": ["prettier --write", "git add"]
}

feat: added backend prod URL
  .env.local
  .env.production
  app.yaml
Due: none

feat: string to arr
  src/features/main-page/utils.tsx
Due: eslint --fix

feat: minor changes
  .env.local
  src/features/ReportCard.utils.ts
Due: eslint --fix

fix: next upgrade
  .env.local
  package-lock.json
  package.json
  src/features/ReportCard.utils.ts
Due: eslint --fix, prettier --write

feat: eslint fix
  next.config.ts
Due: eslint --fix

feat: add project dashboard
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app/(private)/dashboard/ghg/page.tsx
  src/app/(private)/project/[projectId]/ghg-dashboard/page.tsx
  src/features/ReportCard.utils.ts
  src/features/carbon-accounting/dashboard/CarbonTrackerDashboard.tsx
  src/features/carbon-accounting/dashboard/ManageTeam.tsx
  src/features/carbon-accounting/dashboard/OverallCompletion.tsx
  src/features/facility/structure/index.tsx
  src/features/main-page/ProjectOverview.tsx
  src/features/main-page/index.tsx
  src/features/main-page/utils.tsx
  src/features/projects/data-entry/CategoryTabs.tsx
  src/features/projects/data-entry/DEHeader.tsx
  src/features/projects/ghg-dashboard/GHGDashboardHeader.tsx
  src/features/projects/ghg-dashboard/index.tsx
  src/features/projects/ghg-dashboard/insights/GHGBreakdownChart.tsx
  src/features/projects/ghg-dashboard/insights/GHGDashboardKPI.tsx
  src/features/projects/ghg-dashboard/insights/GHGEmissionsBar.tsx
  src/features/projects/ghg-dashboard/insights/GHGEmissionsPie.tsx
  src/features/projects/ghg-dashboard/insights/utils.ts
  src/features/projects/new-project/index.tsx
  src/lib/constants.ts
Due: eslint --fix, prettier --write

feat: add project dashboard 4
  .env.local
  src/app/(private)/create-project/templates/[id]/page.tsx
  src/app/(private)/dashboard/ghg/page.tsx
  src/app/(private)/project/[projectId]/ghg-dashboard/page.tsx
  src/features/ReportCard.utils.ts
  src/features/projects/data-entry/DEFooter.tsx
  src/features/projects/data-entry/DEHeader.tsx
  src/features/projects/data-entry/EmissionTable.tsx
  src/features/projects/data-entry/index.tsx
  src/features/projects/ghg-dashboard/GHGDashboardHeader.tsx
  src/features/projects/ghg-dashboard/SearchBar.tsx
  src/features/projects/ghg-dashboard/compare/CompareBarChart.tsx
  src/features/projects/ghg-dashboard/compare/CompareTable.tsx
  src/features/projects/ghg-dashboard/compare/GHGCompareBreakdown.tsx
  src/features/projects/ghg-dashboard/index.tsx
  src/features/projects/ghg-dashboard/insights/GHGEmissionsPie.tsx
  src/features/projects/templates/list/TemplateItem.tsx
  src/features/projects/templates/preview/EditableRow.tsx
  src/features/projects/templates/preview/PreviewFooter.tsx
  src/features/projects/templates/preview/PreviewTable.tsx
  src/features/projects/templates/preview/utils.ts
  src/lib/api/templates.ts
  src/lib/constants.ts
Due: eslint --fix

feat: changed prod URL
  .env.local
  .env.production
Due: none

fix: projectId on commit
  src/features/projects/templates/preview/PreviewFooter.tsx
Due: eslint --fix

feat: toast for save
  src/features/projects/data-entry/DEFooter.tsx
Due: eslint --fix

feat: const router
  src/features/projects/data-entry/DEFooter.tsx
Due: eslint --fix

feat: fixed entry context
  src/lib/context/EntriesContext.tsx
Due: eslint --fix

feat: change in entry context
  src/features/main-page/index.tsx
  src/lib/context/EntriesContext.tsx
Due: eslint --fix

feat: added some functionality
  .env.local
  src/features/ReportCard.utils.ts
  src/features/carbon-accounting/dashboard/ManageApprovalFlow.tsx
  src/features/carbon-accounting/dashboard/OverallCompletion.tsx
  src/features/carbon-accounting/dashboard/utils.ts
  src/schema/carbon-accounting-data.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: "removed file from scope3 controller"
  src/features/carbon-accounting/dashboard/ScopeCards.tsx
Due: eslint --fix

fix: url prod
  .env.local
Due: none

feat: added report download
  src/features/ReportCard.utils.ts
  src/features/main-page/ProjectActionModal.tsx
  src/features/main-page/ProjectOverview.tsx
Due: eslint --fix

feat: report card changes
  src/features/ReportCard.tsx
Due: eslint --fix

fix: update functionality
  src/features/projects/data-entry/EmissionTable.tsx
  src/features/projects/new-project/FieldRender.tsx
  src/features/projects/new-project/index.tsx
  src/schema/new-project-fields.ts
Due: eslint --fix
